<!DOCTYPE html>
<html lang="en">

<head>
    <%- include layout/head %>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/companyDetail.css">
</head>

<body>
    <header>
        <%- include layout/header %>
    </header>
    <main>
        <div class="main-container">
            <div class="basic-info">
                <div class="basic-info-row">
                    <div class="basic-info-title">
                        <div class="basic-info-company-title">
                            <img src=<%=companyDetail.logo_image%>>
                            <h1>
                                <%= companyDetail.brand %>
                            </h1>
                            <a class="external-link" target="_blank" href=<%=companyDetail.website %>><i class="globe icon"></i></a>
                        </div>

                    </div>
                    <div class="basic-info-content">
                        <div class="basic-info-main_image">
                            <img src=<%=companyDetail.banner_image %> >
                        </div>
                        <div class="basic-info-column">
                            <div class="basic-info-container">
                                <div class="company-basic-description">
                                    <%= companyDetail.short_description %>
                                </div>
                                <div class="company-basic-info-location">
                                    <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                        <g id="layer1">
                                            <path
                                                d="M 6.5019531 0 A 0.50005 0.50005 0 0 0 6.2773438 0.052734375 L 0.27734375 3.0527344 A 0.50005 0.50005 0 0 0 0 3.5 L 0 19.5 A 0.50005 0.50005 0 0 0 0.72265625 19.947266 L 6.515625 17.050781 L 13.302734 19.958984 A 0.50005 0.50005 0 0 0 13.722656 19.947266 L 19.722656 16.947266 A 0.50005 0.50005 0 0 0 20 16.5 L 20 0.5 A 0.50005 0.50005 0 0 0 19.277344 0.052734375 L 13.484375 2.9492188 L 6.6972656 0.041015625 A 0.50005 0.50005 0 0 0 6.5019531 0 z M 6.515625 1.0507812 L 13.302734 3.9589844 A 0.50005 0.50005 0 0 0 13.722656 3.9472656 L 19 1.3085938 L 19 16.191406 L 13.484375 18.949219 L 6.6972656 16.041016 A 0.50005 0.50005 0 0 0 6.2773438 16.052734 L 1 18.691406 L 1 3.8085938 L 6.515625 1.0507812 z M 6.4921875 1.9921875 A 0.50005 0.50005 0 0 0 6 2.5 L 6 14.5 A 0.50005 0.50005 0 1 0 7 14.5 L 7 2.5 A 0.50005 0.50005 0 0 0 6.4921875 1.9921875 z M 13.492188 4.9921875 A 0.50005 0.50005 0 0 0 13 5.5 L 13 17.5 A 0.50005 0.50005 0 1 0 14 17.5 L 14 5.5 A 0.50005 0.50005 0 0 0 13.492188 4.9921875 z "
                                                style="fill:#222222; fill-opacity:1; stroke:none; stroke-width:0px;" />
                                        </g>
                                    </svg>
                                    <a href="/companies?location[]=<%= companyDetail.company_location %>">
                                        <%= companyDetail.company_location %>
                                    </a>
                                </div>
                                <div class="company-basic-info-address">
                                    <svg width="16px" height="16px" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg">
                                        <g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            transform="translate(4 2)">
                                            <path
                                                d="m6.5 16.5407715.6311176-.7118691c.71585099-.8191184 1.36011688-1.5983525 1.93279767-2.3377022l.4733382-.6239608c1.97516433-2.6615039 2.96274653-4.77276704 2.96274653-6.33378943 0-3.33218241-2.6862915-6.03344997-6-6.03344997s-6 2.70126756-6 6.03344997c0 1.56102239.98758218 3.67228553 2.96274653 6.33378943l.4733382.6239608c.73630387.9505925 1.5909423 1.9671163 2.56391527 3.0495713z">
                                            </path>
                                            <circle cx="6.5" cy="6.5" r="2.5"></circle>
                                        </g>
                                    </svg>
                                    <p>
                                        <%= companyDetail.company_address %>
                                    </p>
                                </div>
                                <div class="company-basic-info-catergory">
                                    <svg width="16px" height="16px" viewBox="0 0 35 35" data-name="Layer 2" id="e73e2821-510d-456e-b3bd-9363037e93e3"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M11.933,15.055H3.479A3.232,3.232,0,0,1,.25,11.827V3.478A3.232,3.232,0,0,1,3.479.25h8.454a3.232,3.232,0,0,1,3.228,3.228v8.349A3.232,3.232,0,0,1,11.933,15.055ZM3.479,2.75a.73.73,0,0,0-.729.728v8.349a.73.73,0,0,0,.729.728h8.454a.729.729,0,0,0,.728-.728V3.478a.729.729,0,0,0-.728-.728Z">
                                        </path>
                                        <path
                                            d="M11.974,34.75H3.52A3.233,3.233,0,0,1,.291,31.521V23.173A3.232,3.232,0,0,1,3.52,19.945h8.454A3.232,3.232,0,0,1,15.2,23.173v8.348A3.232,3.232,0,0,1,11.974,34.75ZM3.52,22.445a.73.73,0,0,0-.729.728v8.348a.73.73,0,0,0,.729.729h8.454a.73.73,0,0,0,.728-.729V23.173a.729.729,0,0,0-.728-.728Z">
                                        </path>
                                        <path
                                            d="M31.522,34.75H23.068a3.233,3.233,0,0,1-3.229-3.229V23.173a3.232,3.232,0,0,1,3.229-3.228h8.454a3.232,3.232,0,0,1,3.228,3.228v8.348A3.232,3.232,0,0,1,31.522,34.75Zm-8.454-12.3a.73.73,0,0,0-.729.728v8.348a.73.73,0,0,0,.729.729h8.454a.73.73,0,0,0,.728-.729V23.173a.729.729,0,0,0-.728-.728Z">
                                        </path>
                                        <path
                                            d="M27.3,15.055a7.4,7.4,0,1,1,7.455-7.4A7.437,7.437,0,0,1,27.3,15.055Zm0-12.3a4.9,4.9,0,1,0,4.955,4.9A4.935,4.935,0,0,0,27.3,2.75Z">
                                        </path>
                                    </svg>
                                    <a class="company-card-category-item" href="/companies?category[]=<%= companyDetail.category %>">
                                        <%= companyDetail.category %>
                                    </a>
                                </div>
                                <div class="company-basic-info-tags">
                                    <svg width="16px" height="16px" viewBox="0 0 32 32" id="i-tag" xmlns="http://www.w3.org/2000/svg" fill="none"
                                        stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                        <circle cx="24" cy="8" r="2"></circle>
                                        <path d="M2 18 L18 2 30 2 30 14 14 30 Z"></path>
                                    </svg>
                                    <% for (let tag of companyDetail.tags) { %>
                                        <a href="/companies?tag[]=<%= tag %>" class="company-tag">
                                            <%=tag %>
                                        </a>
                                        <% } %>
                                </div>
                            </div>
                            <div class="basic-button-container">
                                <button class="big ui inverted red button">
                                    <i class="heart outline icon"></i>
                                    加入收藏
                                </button>
                                <button class="big ui black button">
                                    <i class="search icon"></i></i>
                                    所有職缺
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="other-images-container">
            <% for (let image of companyDetail.other_images) { %>
                <div class="other-images-item"><img src=<%=image %>></div>
                <% } %>
        </div>
        <div class="main-info">
            <div class="main-info-container">
                <div class="main-info-content">
                    <h2>公司介紹</h2>
                    <div id="company-introduction" class="content">
                        <%- companyDetail.introduction%>
                    </div>
                    <% if (companyDetail.introduction) { %>
                        <h2>公司理念</h2>
                        <div id="company-philosophy" class="content">
                            <%- companyDetail.philosophy%>
                        </div>
                        <% } %>
                            <% if (companyDetail.story) { %>
                                <h2>創辦故事</h2>
                                <div id="company-story" class="content">
                                    <%- companyDetail.story%>
                                </div>
                                <% } %>
                                    <h2>公司福利</h2>
                                    <div id="company-benifit" class="content">
                                        <%- companyDetail.benifit%>
                                    </div>
                </div>
                <div class="sidebar">
                    <div class="sidebar-button-container">
                        <button class="huge ui black button">
                            <i class="search icon"></i></i>
                            所有職缺
                        </button>
                        <button class="huge ui inverted red button">
                            <i class="heart outline icon"></i>
                            加入收藏
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
    <footer>
        <%- include layout/footer %>
    </footer>
</body>

</html>