<!DOCTYPE html>
<html lang="en">

<head>
    <%- include layout/head %>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/application.css">
</head>

<body>
    <header>
        <%- include layout/header %>
    </header>
    <main>

        <div class="container">
            <h1>Following Jobs</h1>
            <div class="job-container">
                <% for (let job of userFollows) { %>
                    <!-- <a href="/job/<%=job.job_id%>"> -->
                    <div class="job-list" id="job-id-<%=job.follow_id%>">
                        <div class="job-content">
                            <img class="job-item logo" src=<%=job.logo_image %>>
                            <div class="job-item info">
                                <div class="job-info job-title">
                                    <%= job.job_title %>
                                </div>
                                <div class="job-info brand">
                                    <%= job.brand %>
                                </div>

                            </div>
                        </div>
                        <div class="job-content">
                            <div class="job-item  follow-heart" follow-id=<%=job.follow_id%>></div>
                        </div>
                    </div>
                    <!-- </a> -->
                    <% } %>
            </div>
        </div>
    </main>
    <footer>
        <%- include /layout/footer %>
            <script src="/js/auth.js"></script>
            <script src="/js/follow.js"></script>
    </footer>
</body>

</html>