<!DOCTYPE html>
<html lang="en">

<head>
    <%- include layout/head %>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/application.css">
</head>

<body>
    <header>
        <%- include layout/header %>
    </header>
    <main>
        <div class="container">
            <div class="follow-type">公司收藏</div>
            <div class="follow-container company">
                <% if (Object.keys(userFollows.companies).length===0) { %>
                    <h2 style="text-align: center;">您目前未收藏任何公司!</h2>
                    <%} else {%>
                        <% for (let company of userFollows.companies) { %>
                            <a href="/company/<%=company.company_id%>" id="company-id-<%=company.follow_id%>">
                                <div class="follow-list">
                                    <div class="follow-content">
                                        <img class="follow-item logo" src=<%=company.logo_image %>>
                                        <div class="follow-item info">
                                            <div class="follow-info company-title">
                                                <%= company.brand %>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="follow-content">
                                        <div class="follow-item  follow-heart" follow-type="company" follow-id=<%=company.follow_id%>></div>
                                    </div>
                                </div>
                            </a>
                            <% } %>
                                <% } %>
            </div>
            <div class="follow-type job">職缺收藏</div>
            <div class="follow-container job">
                <% if (Object.keys(userFollows.jobs).length===0) { %>
                    <h2 style="text-align: center;">您目前未收藏任何職缺!</h2>
                    <%} else {%>
                        <% for (let job of userFollows.jobs) { %>
                            <a href="/job/<%=job.job_id%>" id="job-id-<%=job.follow_id%>">
                                <div class="follow-list">
                                    <div class="follow-content">
                                        <img class="follow-item logo" src=<%=job.logo_image %>>
                                        <div class="follow-item info">
                                            <div class="follow-info follow-title">
                                                <%= job.job_title %>
                                            </div>
                                            <div class="follow-info brand">
                                                <%= job.brand %>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="follow-content">
                                        <div class="follow-item  follow-heart" follow-type="job" follow-id=<%=job.follow_id%>></div>
                                    </div>
                                </div>
                            </a>
                            <% } %>
                                <% } %>
            </div>
        </div>
    </main>
    <footer>
        <%- include /layout/footer %>
            <script src="/js/auth.js"></script>
            <script src="/js/application.js"></script>
    </footer>
</body>

</html>