<!DOCTYPE html>
<html lang="en">

<head>
    <%- include /layout/head %>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/resume.css">
</head>

<body>
    <header>
        <%- include layout/header %>
    </header>
    <main>
        <div class="container">
            <div class="left-side-bar resume-list">
                <div class="resume-items title">我的履歷</div>
                <% for (let resume of resumes) { %>
                    <a class="resume-anchor" href="/resume/<%= resume.resume_id%>">
                        <div class="resume-items item">
                            <%= resume.resume_name %>
                        </div>
                    </a>
                    <% } %>
            </div>
            <div class="right-resume-container">
                <div class="resume-item fixed">
                    <h3 class="resume-item-title"><strong>基本資料</strong></h3>
                    <div class="icon-edit"><i class="edit large outline icon" modal-id="info-modal"></i></div>
                </div>
                <div class="resume-item fixed">
                    <h3 class="resume-item-title"><strong>簡歷</strong></h3>
                    <div class="icon-edit"><i class="edit large outline icon" modal-id="bio-modal"></i></div>
                </div>
                <div class="resume-item draggable">
                    <div class="icon"><i class="bars icon"></i></div>
                    <h3 class="resume-item-title"><strong>專業技能</strong></h3>
                    <div class="icon-edit"><i class="edit large outline icon" modal-id="skill-modal"></i></div>

                </div>
                <div class="resume-item draggable">
                    <div class="icon"><i class="bars icon"></i></div>
                    <h3 class="resume-item-title"><strong>專案及作品集</strong></h3>
                    <div class="icon-edit"><i class="edit large outline icon" modal-id="project-modal"></i></div>

                </div>
                <div class="resume-item draggable">
                    <div class="icon"><i class="bars icon"></i></div>
                    <h3 class="resume-item-title"><strong>工作經驗</strong></h3>
                    <div class="icon-edit"><i class="edit large outline icon" modal-id="experience-modal"></i></div>

                </div>
                <div class="resume-item draggable">
                    <div class="icon"><i class="bars icon"></i></div>
                    <h3 class="resume-item-title"><strong>學歷</strong></h3>
                    <div class="icon-edit"><i class="edit large outline icon" modal-id="education-modal"></i></div>
                </div>
            </div>
            <div class="update-btn fixed">
                <button class="ui big  black button confirm-btn" id="preview-resume-btn">預覽履歷</button>
                <button class="ui big inverted secondary button confirm-btn right-side" id="create-resume-btn">新建履歷</button>
            </div>
        </div>
        <form id="resume-form">
            <div class="modal-container">
                <div class="modal" id="info-modal">
                    <div class="resume-item-modal">
                        <h3 class="resume-item-modal-title"><strong>基本資料</strong></h3>
                        <div class="resume-content">
                            <div class="form-group ">
                                <label for="resume-name" class="required resume-name">履歷名稱</label>
                                <input name="resumeName" class="form-control resume-name" id="resume-name">
                                <input id="show-resume-input" type="checkbox" name="showResume" value="1">
                                <label for="show-resume-input" class="show-checkbox" value="">開放履歷搜尋</label>
                            </div>
                            <div class="form-group">
                                <label for="name" class="required">姓名</label>
                                <div class="input-wrap">
                                    <input name="name" class="form-control" id="name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="user-gender-male">性別</label>
                                <div class="input-wrap" value="">
                                    <input type="radio" name="gender" id="user-gender-male" value="男">
                                    <label for="user-gender-male">男</label>
                                    <input type="radio" name="gender" id="user-gender-female" value="女">
                                    <label for="user-gender-female">女</label>
                                    <input type="radio" name="gender" id="user-gender-others" value="其他">
                                    <label for="user-gender-others">其他</label>
                                    <input type="radio" name="gender" id="user-gender-hidden" value="hidden">
                                    <label for="user-gender-hidden">不透露</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="birthday">生日
                                </label>
                                <div class="ui calendar">
                                    <div class="ui input left icon">
                                        <i class="calendar icon"></i>
                                        <input name="birthday" class="form-control" id="birthday" type="date" value="">
                                    </div>
                                    <input id="show-birthday-input" type="checkbox" name="showBirthday" value="1">
                                    <label for="show-birthday-input" class="show-checkbox">公開生日資訊</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone">電話</label>
                                <div class="input-wrap">
                                    <input name="phone" class="form-control" id="phone" type="tel" value="">
                                </div>
                            </div>
                            <div class="form-group" id="email-form-group">
                                <label for="email" class="required">連絡信箱</label>
                                <div class="input-wrap">
                                    <input name="emailContact" class="form-control" id="contactEmail" type="email" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="personal-page-url">個人網站連結</label>
                                <div class="input-wrap">
                                    <input name="personalPageUrl" class="form-control" id="personal-page-url" value="">
                                </div>
                            </div>
                        </div>
                        <div class="action-bar only">
                            <button class="ui medium secondary button confirm-btn">確定</button>
                        </div>
                    </div>
                </div>
                <div class="modal" id="bio-modal">
                    <div class="resume-item-modal">
                        <h3 class="resume-item-modal-title"><strong>簡歷</strong></h3>
                        <div class="resume-content">
                            <div class="form-group require">
                                <div class="input-wrap">
                                    <textarea name="bio" class="form-control" id="bio" rows=20 value=""></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="action-bar only">
                            <button class="ui medium secondary button confirm-btn">確定</button>
                        </div>
                    </div>
                </div>
                <div class="modal" id="skill-modal">
                    <div class="resume-item-modal">
                        <h3 class="resume-item-modal-title"><strong>專業技能</strong></h3>
                        <div id="resume-skill-list">
                        </div>
                        <div class="action-bar">
                            <button class="ui medium inverted secondary button" id="add-skill-btn">新增技能</button>
                            <button class="ui medium secondary button confirm-btn">確定</button>
                        </div>
                    </div>
                </div>
                <div class="modal" id="project-modal">
                    <div class="resume-item-modal">
                        <h3 class="resume-item-modal-title"><strong>專案及作品集</strong></h3>
                        <div id="resume-project-list">
                        </div>
                        <div class="action-bar">
                            <button class="ui medium inverted secondary button" id="add-project-btn">新增專案</button>
                            <button class="ui medium secondary button confirm-btn">確定</button>
                        </div>
                    </div>
                </div>
                <div class="modal" id="experience-modal">
                    <div class="resume-item-modal">
                        <h3 class="resume-item-modal-title"><strong>工作經驗</strong></h3>
                        <div id="resume-experience-list" class="resume-experience-list">
                        </div>
                        <div class="action-bar">
                            <button class="ui medium inverted secondary button" id="add-experience-btn">新增經歷</button>
                            <button class="ui medium secondary button confirm-btn">確定</button>
                        </div>
                    </div>
                </div>
                <div class="modal" id="education-modal">
                    <div class="resume-item-modal">
                        <h3 class="resume-item-modal-title"><strong>學歷</strong></h3>
                        <div id="resume-education-list" class="resume-education-list">

                        </div>
                        <div class="action-bar">
                            <button class="ui medium inverted secondary button" id="add-education-btn">新增學歷</button>
                            <button class="ui medium secondary button confirm-btn">確定</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </main>
    <div id="cover-spin"></div>
    <footer>
        <%- include /layout/footer %>
            <!-- for bootstrap modal -->
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"
                integrity="sha512-zYXldzJsDrNKV+odAwFYiDXV2Cy37cwizT+NkuiPGsa9X1dOz04eHvUWVuxaJ299GvcJT31ug2zO4itXBjFx4w==" crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
            <script src="/js/resumeEdit.js"></script>
    </footer>
</body>

</html>