<!DOCTYPE html>
<html lang="en">

<head>
    <%- include /layout/head %>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/resume.css">
</head>

<body>
    <header>
        <%- include layout/header %>
    </header>
    <main>
        <div class="container">
            <div class="left-side-bar resume-list">
                <div class="resume-items title">我的履歷</div>
                <% for (let resume of allResumes) { %>
                    <a href="/resume/<%= resume.resume_id%>">
                        <div class="resume-items item">
                            <%= resume.resume_name %>
                        </div>
                    </a>
                    <% } %>
            </div>
            <div class="resume-title">
                <%=resumeDetail.resume_name%>
            </div>
            <div class="right-resume-container">
                <div class="resume-item fixed">
                    <h3 class="resume-item-title"><strong>基本資料</strong></h3>
                    <div class="icon-edit"><i class="edit outline icon" modal-id="info-modal"></i></div>
                </div>
                <div class="resume-item fixed">
                    <h3 class="resume-item-title"><strong>簡歷</strong></h3>
                    <div class="icon-edit"><i class="edit outline icon" modal-id="bio-modal"></i></div>
                </div>
                <div class="resume-item draggable">
                    <div class="icon"><i class="bars icon"></i></div>
                    <h3 class="resume-item-title"><strong>專業技能</strong></h3>
                    <div class="icon-edit"><i class="edit outline icon" modal-id="skill-modal"></i></div>

                </div>
                <div class="resume-item draggable">
                    <div class="icon"><i class="bars icon"></i></div>
                    <h3 class="resume-item-title"><strong>專案及作品集</strong></h3>
                    <div class="icon-edit"><i class="edit outline icon" modal-id="project-modal"></i></div>

                </div>
                <div class="resume-item draggable">
                    <div class="icon"><i class="bars icon"></i></div>
                    <h3 class="resume-item-title"><strong>工作經驗</strong></h3>
                    <div class="icon-edit"><i class="edit outline icon" modal-id="experience-modal"></i></div>

                </div>
                <div class="resume-item draggable">
                    <div class="icon"><i class="bars icon"></i></div>
                    <h3 class="resume-item-title"><strong>學歷</strong></h3>
                    <div class="icon-edit"><i class="edit outline icon" modal-id="education-modal"></i></div>
                </div>
                <div class="update-btn">
                    <button class="ui big negative button delete-btn" id="delete-resume-btn">刪除履歷</button>
                    <button class="ui big inverted secondary button confirm-btn" id="update-resume-btn">上傳履歷</button>
                </div>
            </div>
        </div>
        <form id="resume-form">
            <div class="modal-container">
                <div class="modal" id="info-modal">
                    <div class="resume-item-modal">
                        <h3 class="resume-item-modal-title"><strong>基本資料</strong></h3>
                        <div class="resume-content">
                            <div class="form-group ">
                                <label for="resume-name" class="required resume-name">履歷名稱</label>
                                <input name="resumeName" class="form-control resume-name" id="resume-name" value="<%=resumeDetail.resume_name%>">
                                <%if(resumeDetail.show_resume===1) {%>
                                    <input id="show-resume-input" type="checkbox" name="showResume" value="1" checked>
                                    <% } else { %>
                                        <input id="show-resume-input" type="checkbox" name="showResume" value="1">
                                        <% } %>
                                            <label for="show-resume-input" class="show-checkbox">開放履歷搜尋</label>
                            </div>
                            <div class="form-group">
                                <label for="name" class="required">姓名</label>
                                <div class="input-wrap">
                                    <input name="name" class="form-control" id="name" value="<%=resumeDetail.user_name%>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="user-gender-male">性別</label>
                                <div class="input-wrap" value="男">
                                    <input type="radio" name="gender" id="user-gender-male" value="男">
                                    <label for="user-gender-male">男</label>
                                    <input type="radio" name="gender" id="user-gender-female" value="女">
                                    <label for="user-gender-female">女</label>
                                    <input type="radio" name="gender" id="user-gender-others" value="其他">
                                    <label for="user-gender-others">其他</label>
                                    <input type="radio" name="gender" id="user-gender-hidden" value="hidden">
                                    <label for="user-gender-hidden">不透露</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="birthday">生日
                                </label>
                                <div class="ui calendar">
                                    <div class="ui input left icon">
                                        <i class="calendar icon"></i>
                                        <input name="birthday" class="form-control" id="birthday" type="date" value="<%=resumeDetail.birthday%>">
                                    </div>
                                    <% if (resumeDetail.show_birthday===1) { %>
                                        <input id="show-birthday-input" type="checkbox" name="showBirthday" value="1" checked>
                                        <% } else { %>
                                            <input id="show-birthday-input" type="checkbox" name="showBirthday" value="1">
                                            <% }%>
                                                <label for="show-birthday-input" class="show-checkbox">公開生日資訊</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone">電話</label>
                                <div class="input-wrap">
                                    <input name="phone" class="form-control" id="phone" type="tel" value="<%=resumeDetail.phone%>">
                                </div>
                            </div>
                            <div class="form-group" id="email-form-group">
                                <label for="email" class="required">連絡信箱</label>
                                <div class="input-wrap">
                                    <input name="emailContact" class="form-control" id="contactEmail" type="email"
                                        value="<%=resumeDetail.contact_email%>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="personal-page-url">個人網站連結</label>
                                <div class="input-wrap">
                                    <input name="personalPageUrl" class="form-control" id="personal-page-url" value="<%=resumeDetail.personal_url%>">
                                </div>
                            </div>
                        </div>
                        <div class="action-bar only">
                            <button class="ui medium secondary button confirm-btn">確定</button>
                        </div>
                    </div>
                </div>
                <div class="modal" id="bio-modal">
                    <div class="resume-item-modal">
                        <h3 class="resume-item-modal-title"><strong>簡歷</strong></h3>
                        <div class="resume-content">
                            <div class="form-group require">
                                <div class="input-wrap">
                                    <textarea name="bio" class="form-control" id="bio" rows=20><%=resumeDetail.bio%></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="action-bar only">
                            <button class="ui medium secondary button confirm-btn">確定</button>
                        </div>
                    </div>
                </div>
                <div class="modal" id="skill-modal">
                    <div class="resume-item-modal">
                        <h3 class="resume-item-modal-title"><strong>專業技能</strong></h3>
                        <div id="resume-skill-list">
                            <% if (resumeDetail.skill_name[0]) { %>
                                <% for (let i=0; i < resumeDetail.skill_name.length; i++ ) { %>
                                    <div id="skill-item-<%=i%>" class="resume-content skill" skill-index=<%=i%>>
                                        <div class="content-container">
                                            <div class="form-group skill">
                                                <label for="skill-name">技能名稱</label>
                                                <div class="input-wrap">
                                                    <input name="skillName" class="form-control" id="skill-name-<%=i%>"
                                                        value=<%=resumeDetail.skill_name[i] %>>
                                                </div>
                                            </div>
                                            <div class="form-group skill">
                                                <label for="skill-proficiency">熟練程度</label>
                                                <div class="input-wrap">
                                                    <select class="ui dropdown select" name="proficiency" id="skill-proficiency-<%=i%>">
                                                        <option value="初階">初階</option>
                                                        <option value="熟練">熟練</option>
                                                        <option value="精通">精通</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="skill-info">技能描述</label>
                                            <div class="input-wrap">
                                                <textarea name="skillInfo" class="form-control" id="skill-info-<%=i%>"
                                                    rows=1><%=resumeDetail.skill_intro[i]%></textarea>
                                            </div>
                                        </div>
                                        <div class="remove-btn">
                                            <button class="ui medium negative button" id="remove-skill-btn-<%=i%>" skill-index=<%=i%>>刪除</button>
                                        </div>
                                    </div>
                                    <% } %>
                                        <% } %>
                        </div>
                        <div class="action-bar">
                            <button class="ui medium inverted secondary button" id="add-skill-btn">新增技能</button>
                            <button class="ui medium secondary button confirm-btn">確定</button>
                        </div>
                    </div>
                </div>
                <div class="modal" id="project-modal">
                    <div class="resume-item-modal">
                        <h3 class="resume-item-modal-title"><strong>專案及作品集</strong></h3>
                        <div id="resume-project-list">
                            <% if (resumeDetail.project_title[0]) { %>
                                <% for (let i=0; i < resumeDetail.project_title.length; i++ ) { %>
                                    <div id="project-item-<%=i%>" class="resume-content project col" project-index=<%=i%>">
                                        <div class="content-container">
                                            <div class="content-container-col">
                                                <div class="form-group">
                                                    <label for="project-title-<%=i%>">專案名稱</label>
                                                    <div class="input-wrap">
                                                        <input name="projectTitle" class="form-control" id="project-title-<%=i%>"
                                                            value="<%=resumeDetail.project_title[i]%>"></input>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="project-link-<%=i%>">專案連結</label>
                                                    <div class="input-wrap">
                                                        <input name="projectLink" class="form-control" id="project-link-<%=i%>"
                                                            value="<%=resumeDetail.project_link[i]%>"></input>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="project-info-<%=i%>">專案描述</label>
                                                    <div class="input-wrap">
                                                        <textarea name="projectInfo" class="form-control" id="project-info-<%=i%>" rows=1
                                                            value="<%=resumeDetail.project_intro[i]%>"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <% if (resumeDetail.project_image[i]) { %>
                                                <div class="image-upload-wrap" id="image-upload-wrap-<%=i%>" style="display:none">
                                                    <% } else { %>
                                                        <div class="image-upload-wrap" id="image-upload-wrap-<%=i%>">
                                                            <% } %>
                                                                <input class="file-upload-input" name="projectImage" id="project-image-<%=i%>"
                                                                    project-index="<%=i%>" type='file' onchange="readURL(this);" accept="image/*" />
                                                                <div class="drag-text">
                                                                    <p>Drag and drop a file or select add Image</p>
                                                                </div>
                                                        </div>
                                                        <% if (resumeDetail.project_image[i]) { %>
                                                            <div class="file-upload-content" id="file-upload-content-<%=i%>" style="display:block">
                                                                <% } else {%>
                                                                    <div class="file-upload-content" id="file-upload-content-<%=i%>">
                                                                        <% } %>
                                                                            <img id="file-upload-image-<%=i%>" class="file-upload-image"
                                                                                project-index="<%=i%>" src="<%=
                                                    resumeDetail.project_image[i] ? resumeDetail.project_image[i] : '' %>" alt="your image" />
                                                                            <div class="image-title-wrap">
                                                                                <button type="button" id="remove-image-btn-<%=i%>"
                                                                                    class="remove-image" project-index="<%=i%>">Remove <span
                                                                                        id="image-title-<%=i%>" class="image-title">Uploaded
                                                                                        Image</span></button>
                                                                            </div>
                                                                    </div>
                                                            </div>
                                                            <div class="remove-btn">
                                                                <button class="ui medium negative button" id="remove-project-btn-<%=i%>"
                                                                    project-index="<%=i%>">刪除</button>
                                                            </div>
                                                </div>
                                                <% } %>
                                                    <% } %>
                                        </div>
                                        <div class="action-bar">
                                            <button class="ui medium inverted secondary button" id="add-project-btn">新增專案</button>
                                            <button class="ui medium secondary button confirm-btn">確定</button>
                                        </div>
                                    </div>
                        </div>
                        <div class="modal" id="experience-modal">
                            <div class="resume-item-modal">
                                <h3 class="resume-item-modal-title"><strong>工作經驗</strong></h3>
                                <div id="resume-experience-list" class="resume-experience-list">
                                    <% if (resumeDetail.experience_title[0]) { %>
                                        <% for (let i=0; i < resumeDetail.experience_title.length; i++ ) { %>
                                            <div id="experience-item-<%=i%>" class="resume-content experience" experience-index="<%=i%>">
                                                <div class="content-container experience">
                                                    <div class="form-group">
                                                        <label for="experience-title-<%=i%>">職位</label>
                                                        <div class="input-wrap">
                                                            <input name="experienceName" class="form-control" id="experience-title-<%=i%>"
                                                                value="<%=resumeDetail.experience_title[i]%>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="experience-company-name-<%=i%>">組織名稱</label>
                                                        <div class="input-wrap">
                                                            <input name="experienceCompanyName" class="form-control"
                                                                id="experience-company-name-<%=i%>" value="<%=resumeDetail.experience_org[i]%>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="experience-time-start-<%=i%>">起始時間</label>
                                                        <div class="input-wrap">
                                                            <input name="experienceTimeStart" class="form-control" id="experience-time-start-<%=i%>"
                                                                value="<%=resumeDetail.experience_start[i]%>" type="month">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="experience-time-end-<%=i%>">結束時間</label>
                                                        <div class="input-wrap">
                                                            <input name="experienceTimeEnd" class="form-control" id="experience-time-end-<%=i%>"
                                                                value="<%=resumeDetail.experience_end[i]%>" type="month">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="experience-info-<%=i%>">內容描述</label>
                                                    <div class="input-wrap">
                                                        <textarea name="experienceInfo" class="form-control" id="experience-info-<%=i%>"
                                                            rows=1><%=resumeDetail.experience_intro[i]%></textarea>
                                                    </div>
                                                </div>
                                                <div class="remove-btn">
                                                    <button class="ui medium negative button" id="remove-experience-btn-<%=i%>"
                                                        experience-index="<%=i%>">刪除</button>
                                                </div>
                                            </div>
                                            <% } %>
                                                <% } %>
                                </div>
                                <div class="action-bar">
                                    <button class="ui medium inverted secondary button" id="add-experience-btn">新增經歷</button>
                                    <button class="ui medium secondary button confirm-btn">確定</button>
                                </div>
                            </div>
                        </div>
                        <div class="modal" id="education-modal">
                            <div class="resume-item-modal">
                                <h3 class="resume-item-modal-title"><strong>學歷</strong></h3>
                                <div id="resume-education-list" class="resume-education-list">
                                    <% if (resumeDetail.education_title[0]) { %>
                                        <% for (let i=0; i < resumeDetail.education_title.length; i++ ) { %>
                                            <div id="education-item-<%=i%>" class="resume-content education" education-index="<%=i%>">
                                                <div class="form-group">
                                                    <label for="education-title-<%=i%>">學校名稱</label>
                                                    <div class="input-wrap">
                                                        <input name="educationName" class="form-control" id="education-title-<%=i%>"
                                                            value="<%=resumeDetail.education_title[i]%>">
                                                    </div>
                                                </div>
                                                <div class="content-container education">
                                                    <div class="form-group">
                                                        <label for="education-department-<%=i%>">系所</label>
                                                        <div class="input-wrap">
                                                            <input name="educationDepartment" class="form-control" id="education-department-<%=i%>"
                                                                value="<%=resumeDetail.education_department[i]%>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="education-degree-<%=i%>">學位</label>
                                                        <div class="input-wrap">
                                                            <input name="educationDegree" class="form-control" id="education-degree-<%=i%>"
                                                                value="<%=resumeDetail.education_degree[i]%>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="education-time-start-<%=i%>">起始時間</label>
                                                        <div class="input-wrap">
                                                            <input name="educationTimeStart" class="form-control" id="education-time-start-<%=i%>"
                                                                value="<%=resumeDetail.education_start[i]%>" type="month">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="education-time-end-<%=i%>">結束時間</label>
                                                        <div class="input-wrap">
                                                            <input name="educationTimeEnd" class="form-control" id="education-time-end-<%=i%>"
                                                                value="<%=resumeDetail.education_end[i]%>" type="month">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="remove-btn">
                                                    <button class="ui medium negative button" id="remove-education-btn-<%=i%>"
                                                        education-index="<%=i%>">刪除</button>
                                                </div>
                                            </div>
                                            <% } %>
                                                <% } %>
                                </div>
                                <div class="action-bar">
                                    <button class="ui medium inverted secondary button" id="add-education-btn">新增學歷</button>
                                    <button class="ui medium secondary button confirm-btn">確定</button>
                                </div>
                            </div>
                        </div>
                    </div>
        </form>
    </main>

    <footer>
        <%- include /layout/footer %>
            <!-- for bootstrap modal -->
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"
                integrity="sha512-zYXldzJsDrNKV+odAwFYiDXV2Cy37cwizT+NkuiPGsa9X1dOz04eHvUWVuxaJ299GvcJT31ug2zO4itXBjFx4w==" crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
            <script src="/js/resumeEdit.js"></script>
    </footer>
</body>

</html>